[2022-03-04 00:46] timokoenig opened #157 "The git history is a mess 💩"
The current git history is a complete mess which makes it really hard to run compares on it.

- There are some commits twice on the same branch?!
- A cherrypick of a release on a master and then the release gets merged? That could be one of the reasons why the history is so messed up
- Commits like `fix`, `Cherrypick/master`, `BVC-3624` as a commit subject is not very descriptive

I'm not sure wha

[2022-03-04 17:03] Ein-Tim commented on #97
Update 1/1 J&J certificate continues to be shown as valid in CovPassCheck.

Is this really intended? You always have to keep in mind: Venue owners can't use CovPassCheck because of this!

[2022-03-04 17:58] timokoenig opened #158 "Missing open source licenses"
The following two packages are missing in the open source licenses.

[code]

[2022-03-04 18:10] timokoenig commented on #157
The whole project doesn't build anymore because of duplicates that might be caused by previous conflicts. Please fix asap

<img width="935" alt="Screen Shot 2022-03-04 at 19 09 05" src="https://user-images.githubusercontent.com/4365095/156818333-cfbebe8a-2f79-4575-8049-ccdc6b56951e.png">

[2022-03-04 18:26] Dale81 commented on #97
I guess it is still a "don't show to much personal information" approach. The best way would still be to get a result like:

"2G only valid in combination with proof of recovery"

But to evaluate this, you again need more info. PCR or Antibody Test date needs to be before the vaccination date. So to really evaluate this, you would need an input field where someone can input the test date and let t

[2022-03-04 20:41] Kurt57 commented on #157
Thank you @timokoenig can you recheck this build issue. There is a new commit.

[2022-03-04 20:52] timokoenig commented on #157
Thanks, build issue is gone but unit tests do not run without problems.

**CovPassCommon**
[code]

**CovPass**
10+ tests fail because of missing reference images. They don't seem to be included in the repository

[2022-03-04 20:59] Kurt57 commented on #157
Sometimes it comes to the test certificates in the tests expire. Then these will of course be updated with the next repo update.

Can you post a list of which tests Reference images are missing?

[2022-03-04 23:31] timokoenig commented on #157
I think the easiest is to set a fixed date in the tests so that the static certificates do not expire. That could make things a bit easier.

Regarding the tests see the following screenshots where it fails. Also note that the last SnapShotTest didn't even run. Is there a reason why this is disabled?

<img width="412" alt="Screen Shot 2022-03-05 at 00 27 35" src="https://user-images.githubuserconte

[2022-03-05 00:01] Kurt57 commented on #157
Can you please try running snapshot tests on iPhone 11 (14.3)

The last one has to be realigned. Some of that test will be removed (because vc will also be removed -> unused)

[2022-03-05 01:01] timokoenig commented on #157
That's something that should be mentioned in the Readme. Besides that there are still tests that fail. Here is an example where I think that the reference image is just wrong. The button at the bottom should have two lines but has only one in the reference image, therefore the word 'smartphone' is missing.

Reference:
<img width="214" src="https://user-images.githubusercontent.com/4365095/15686067

[2022-03-05 15:29] Ein-Tim opened #159 "Do not show "Negativer Test von vor 0 Stunden" but "Negativer Test von vor unter einer Stunde""
## Avoid duplicates
* [X] This enhancement request has not already been raised before

## Current Implementation
The app shows "Negativer Test von vor 0 Stunden" if a test is scanned which was taken less than a hour ago.

## Suggested Enhancement
Show "Negativer Test von vor unter einer Stunde" instead of "Negativer Test von vor 0 Stunden".
Alternatively, you can also completely remove the time fr

[2022-03-07 11:09] timokoenig commented on #131
Another week passes and the rules are still wrong

[2022-03-07 11:12] timokoenig commented on #131
related to https://github.com/Digitaler-Impfnachweis/covpass-ios/issues/131

[2022-03-07 11:19] timokoenig commented on #143
More and more people complain about the differences. IMO this should be fixed soon

[2022-03-07 11:21] aherberger commented on #143
Just some marketing: If you want an App which can check the rules correctly look for our (free) App https://www.digitalkeycheck.com - this can handle (mostly) all special situtations and doesnt leave the decision to the user.
It also contains an (optional) ID-Card validation.

[2022-03-07 11:35] #134 closed

[2022-03-07 11:37] timokoenig commented on #131
related to https://github.com/Digitaler-Impfnachweis/covpass-android/issues/189

[2022-03-07 11:41] Ein-Tim commented on #88
Travel rules have been updated, this issue can be closed: https://timokoenig.github.io/eu-dcc-rules/?ruleset=eu-dcc-rules&country=DE&rule=VR-DE-0004

[2022-03-07 11:41] #88 closed

[2022-03-07 11:44] timokoenig commented on #88
I will leave #131 open since the test certificate rules are still wrong for entry and domestic

[2022-03-07 11:45] Ein-Tim commented on #88
@timokoenig

100% agreed but as this issue is only about the validity of vaccination certificates I closed it.

[2022-03-07 11:48] Ein-Tim commented on #87
I see no reason why I should still leave this issue open, the app has been prepared. For remaining issues, please open a new issue.

[2022-03-07 11:49] #87 closed

[2022-03-07 12:55] timokoenig opened #160 "Cannot check Austrian rules"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [x] Bug is not already reported in another issue

## Technical details

- App version: 1.19.0

## Describe the bug

The app states that there are no rules for the given time and country but there are actually 5 active rules for vaccination certificates.

https://timokoenig.github.io/eu-dcc-rul

[2022-03-07 14:26] Ein-Tim commented on #160
This is the result when checking with CWA:

<img src="https://user-images.githubusercontent.com/67682506/157052674-c808f2b5-2991-4a88-9b4a-642e629c51b1.png" width="300">

[2022-03-07 14:27] timokoenig commented on #160
@Ein-Tim you're right. Works fine in CWA

[2022-03-07 14:36] timokoenig commented on #160
Just noticed that Austria has also two general rules. Therefore CovPass should check 7 rules ( 2 general + 5 vaccination )

[2022-03-08 13:10] alexcimander commented on #110
Hi Timo,

fix will be part of one of the next releases. Thank you!

[2022-03-08 13:36] alexcimander commented on #127
Thank you Timo for your investigation - we created a ticket for it and we will keep you all updated about it

[2022-03-08 13:48] alexcimander commented on #143
Hey everyone,

so if I understood it correctly it is about what the detail-screen of the certificate is "suggesting" but not about different results when it comes to rule-checks.

We are currently investigating solutions. Just using the rules as reference might be misleading as well since within the EU your certificate is still valid.

There are running discussions about how to display it properly

[2022-03-08 13:51] alexcimander commented on #153
Thank you Timo for reporting this bug - we created a ticket for it. We give you an update asap

[2022-03-08 13:52] timokoenig commented on #143
It's not only about the detail screen but also the QR code that shows on the card. CovPass suggests that this is a valid QR code but CovPass Check will fail to scan it

[2022-03-08 13:52] alexcimander commented on #158
Hi Timo,

thank you for reporting this bug - we will keep you updated

[2022-03-08 13:53] alexcimander commented on #160
Thank you for reporting this bug - we will keep you updated about the cause of the bug and how we solve it.

[2022-03-10 08:56] timokoenig opened #161 "Close Result View automatically"
## Current Implementation

On a few occasions I noticed that the verifier left the result view open after successfully scanning a certificate. This is a potential privacy issue if the device would be left unattended because of the Name and Birthdate that is being displayed there. The same happens when the verifier locks the IPhone after a scan. The next person can get a quick glance of the perviou

[2022-03-10 13:45] Ein-Tim opened #162 "Release 1.19.1?"
## Avoid duplicates
* [X] Question is not already answered in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Question has not already been asked in another issue

## Your Question
Version 1.19.1 was just released on the App Store, please release the source code here and create a GitHub release.

[2022-03-10 15:07] alexcimander commented on #162
Hi @Ein-Tim,

due to an bug within the CovPassCheck valid recovery certificates (and only valid recovery certificates) where displayed as "valid since 0 months". This lead to an hotfix release that was started yesterday and could be released this morning.
Code will be released asap.

Thank you for your patience :-)

[2022-03-10 15:52] timokoenig commented on #161
@alexcimander that's cool, thanks 👍🏼

[2022-03-10 18:59] Ein-Tim commented on #155
Related issue:

- #186

[2022-03-10 19:04] timokoenig commented on #155
I just proposed a different idea to show the announcements: https://github.com/Digitaler-Impfnachweis/covpass-android/issues/186#issuecomment-1064389418

[2022-03-10 19:47] Kurt57 commented on #162
Hi @Ein-Tim the code will come immediately. I have to solve some git issues. Related to @timokoenig ´ s #157 issue. After that we will publish the code to main branch. Hopefully it´s fine for you all. But the release branch 1.19 already up to date.

[2022-03-10 20:02] #162 closed

[2022-03-13 17:19] timokoenig commented on #127
@alexcimander I would suggest to set the priority of this ticket to highest and publish a hotfix asap. Just have a look at the App Store reviews. This is a major problem.

I stick with my idea that this is has something to do with the decompression. It occurs only with newer certificates and this would mean that the compression algorithm changed in the backend that creates the certificates. Maybe

[2022-03-13 17:24] Ein-Tim commented on #97
@alexcimander & @oliver-steinbrecher I urge you to better communicate how long recovery certificates are valid in the CovPass app. There are multiple bad reviews on the app store complaining that the CovPass app shows their certificate as valid but CovPassCheck rejects it.

[2022-03-13 17:29] Ein-Tim commented on #127
@timokoenig Is this reliably reproducible?

[2022-03-13 17:32] timokoenig commented on #127
@Ein-Tim it seems like it. I'm currently trying to get a demo certificate to investigate this better

[2022-03-13 17:42] timokoenig commented on #97
I agree with @Ein-Tim.
There are multiple options to improve this:

- show rule changes to the user in the app https://github.com/Digitaler-Impfnachweis/covpass-ios/issues/98
- display the rules to the user so that they can have a look themselves. You can find an example on https://covidvalidator.app with a click on the header or in the options panel. The user can always see what rules are current

[2022-03-13 18:19] Ein-Tim commented on #97
You can also do it like the CWA and remove the field which states how long the certificate is valid: https://github.com/corona-warn-app/cwa-documentation/issues/807#issuecomment-1066153800

[2022-03-13 18:23] timokoenig commented on #97
I'm not sure if this would solve the issue. People would still think that the recovery certificate is valid for 180 days but the CheckApp only accepts certificates with 90 days

[2022-03-13 18:50] Ein-Tim commented on #97
It is better than nothing but I agree with you @timokoenig

[2022-03-13 22:56] timokoenig opened #163 "EU Rule Download causes massive CPU spike and memory issue"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [x] Bug is not already reported in another issue

## Technical details

- App version: 1.19

## Describe the bug

Currently the app download the EU rules once a day when the user opens the app. Depending on the network speed this might take a while. If the user clicks in the meantime on a cert

[2022-03-13 23:01] timokoenig opened #164 "EU Rule Download hash matching does not work"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [x] Bug is not already reported in another issue

## Technical details

- App version: 1.19

## Describe the bug

The app has a build in hash matching that should prevent downloading rules twice. For some reason this matching does not work anymore. Meaning every time the EU rules get updated,

[2022-03-13 23:06] timokoenig opened #165 "Aggregate EU rules in one JSON file"
## Avoid duplicates
* [x] This enhancement request has not already been raised before

## Current Implementation

The app downloads all EU rules individually. Sometimes the EU rules API does respond with an error when there are too many open connections. This causes the rule download to fail and the app is left with the old rule set until the next try.

## Suggested Enhancement

Aggregate the EU r

[2022-03-13 23:29] timokoenig opened #166 "First favorite certificate only works with vaccination certificates"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [x] Bug is not already reported in another issue

## Describe the bug

When the user scans the first certificate, we mark this certificate as his favorite. This currently only works with vaccination certificates. If the user scans a test or recovery certificate, it will not get marked as favor

[2022-03-13 23:40] timokoenig opened #167 "Same certificate imported twice"
## Avoid duplicates
* [x] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [x] Bug is not already reported in another issue

## Technical details

- App version: 1.19

## Describe the bug

I am able to import a certificate twice If the data in the QR code contains a leading or trailing space.

## Steps to reproduce the issue

DEMO certificates

[code]

[code]

## Exp

[2022-03-14 00:00] timokoenig commented on #127
The compression infinite loop that I mentioned earlier should not matter since this is only being used in unit tests. I will investigate more when the team clarified that nothing changed with the certificate issuing service.

[2022-03-14 06:26] Ein-Tim opened #168 "App shows "Im Reiseland ungültig" although I'm checking for the rules inside of Gernany"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
- OS version: 15.3.1
- App version: 1.19

## Describe the bug

The app shows that a certificate is invalid in the "Reiseland" although I selected the rules for inside of Germany to be checked.

##

[2022-03-14 09:10] Kurt57 commented on #168
Hi @Ein-Tim ,

Thank you for your message.
I understood the problem and create a ticket in our backlog.

Many kind regards!
Fatih

[2022-03-14 09:14] Kurt57 commented on #167
Hi @timokoenig  ,

Thank you for your message.
I understood the problem and create a ticket in our backlog.

How likely do you think this problem is to occur?

Many kind regards!
Fatih

[2022-03-14 09:16] timokoenig commented on #167
Not very likely but still possible. A simple `trim` would already solve this

[2022-03-14 09:19] Kurt57 commented on #165
Hi @timokoenig ,

Thank you for your message.
I´m not really sure this is a iOS App enhancement.

So the API we are consuming is provided and not maintained by iOS-CovPass Team.
If there is a solution for aggregated eu rules in one JSON file, than it can be done.

Many kind regards!
Fatih

[2022-03-14 09:24] Kurt57 commented on #166
Hi @timokoenig ,

Thank you for your message.
I understood the problem and create a ticket in our backlog.

Many kind regards!
Fatih

[2022-03-14 09:25] timokoenig commented on #165
Even if the team is unwilling to build an aggregation, the app should improve the error handling that catches and retries failed requests

[2022-03-14 09:33] Kurt57 commented on #165
Definitely there is room for improvement there. As in many places in the app, and at all times.

Let me check out if and how we can claim an aggregated JSON so the app can consume it.

Also, we will still have to weigh if this proposed way really fixes our problems. After all, the current implementation also comes with benefits that we'll have to weigh once.

[2022-03-14 09:35] Kurt57 commented on #164
Hi @timokoenig ,

Thank you for your message.
I will create a ticket to track this in our backlog.

Many kind regards!
Fatih

[2022-03-14 09:38] Kurt57 commented on #163
Hi @timokoenig ,

Thank you for your message.
I will create a ticket to track this in our backlog.

Many kind regards!
Fatih

[2022-03-14 09:47] Kurt57 commented on #164
@timokoenig can you maybe explain bit more detailed the steps to reproduce?
unfortunately I cannot reproduce this.

[2022-03-14 09:51] alexcimander commented on #165
Hey Timo,

we will definetly raise this point. There are also other improvements we have in mind. We are in multiple discussions right now to improve request handling etc. we will keep you updated.

[2022-03-14 11:26] timokoenig commented on #131
ignoring the problem doesn't make it go away 🙃

[2022-03-14 13:37] Kurt57 commented on #164
Ok I can reproduce this but not sure why this is happening. I'll go deeper now and let you know as soon as I figure something out.

[2022-03-14 13:41] timokoenig commented on #164
@Kurt57 I haven't checked the cause but maybe the app doesn't save the hash therefore it can't compare it with the next update

[2022-03-14 13:45] Kurt57 commented on #164
Yes seems like since some or all (checking and clarifying atm) detail response of a rule doesn't provide its  hash (anymore ?)

[2022-03-14 15:22] Kurt57 commented on #164
Seems like that the part you are describing is not anymore available.

https://github.com/Digitaler-Impfnachweis/covpass-ios/commit/9c733d193aecc4857d0b8765de7b631109e9715d

[2022-03-14 18:14] Ein-Tim commented on #126
iOS 15.4 is now released to the public. I think it would make sense to investigate whether it is possible to add a "Add to Wallet" button to CovPass.

cc @Kurt57

[2022-03-15 12:11] Kurt57 commented on #164
It's fixed and will come with the next version @timokoenig

[2022-03-15 12:13] timokoenig commented on #164
@Kurt57 great thanks!

[2022-03-17 08:16] Ein-Tim opened #169 "CovPass sometimes shows second name of certificate holder and sometimes not"
### This bug affects both, iOS and Android.

## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
- OS version: 15.4
- App version: 1.19

## Describe the bug

If certificates with and without middle name from one person are grouped, CovPass sometimes

[2022-03-17 16:05] Ein-Tim opened #170 "(De-)Selecting certificate as favorite takes too long (certificate is only marked as favorite after some seconds)"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone xR & iPhone 6s
- OS version: 15.4
- App version: 1.19

## Describe the bug

Clicking on the star icon on a person to select it as favorite first does nothing. After app. 3 seconds the certificate is m

[2022-03-17 16:10] Ein-Tim opened #171 "How are persons sorted?"
### This question applies to both, iOS AND Android.

## Avoid duplicates
* [X] Question is not already answered in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Question has not already been asked in another issue

## Your Question
I'm having all my certificates stored on 4 devices.
Only on two devices the certificates are sorted in the same way as on the other. On the other two devi

[2022-03-17 16:11] timokoenig commented on #170
@Ein-Tim how many certificates do you have in your CovPass?

[2022-03-17 16:15] Ein-Tim commented on #170
@timokoenig 8 persons. Do you need the exact number of certificates?

[2022-03-17 16:18] Ein-Tim opened #172 "Option to mark certificate as favorite on detail screen only appears after some seconds"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
- OS version: 15.4
- App version: 1.19

## Describe the bug

The star in the upper right corner only appears after some seconds, here is a screen recording:

https://user-images.githubusercontent.c

[2022-03-17 16:19] timokoenig commented on #170
No that's fine. I can confirm this issue with about 25 certificates. It even takes a few seconds until the star initially appears on the detail screen

[2022-03-17 16:20] Ein-Tim commented on #170
Do you know how the performance is with only 2/3 certificates?

I would test it but tbh I don't want to delete all the certificates and rescan them.

[2022-03-17 16:31] timokoenig commented on #170
This might be a general issue with the saved certificates because with the app that has 25 certificates, it takes a few seconds for the certificates to appear. Without knowing it I would think all my certificates are gone

[2022-03-17 16:33] Ein-Tim commented on #122
Can this issue be closed?

[2022-03-17 16:33] Ein-Tim commented on #115
Has this issue been fixed?

[2022-03-17 16:34] #73 closed

[2022-03-17 16:35] Ein-Tim commented on #76
I think the rules of France where fixed in the meantime, or @timokoenig?

[2022-03-17 16:40] timokoenig commented on #76
At least the translation has not been fixed yet. Still a difference between EN and FR

https://timokoenig.github.io/eu-dcc-rules/?ruleset=eu-dcc-rules&country=FR&rule=VR-FR-0005

[2022-03-18 10:03] #122 closed

[2022-03-21 08:25] Kurt57 commented on #172
Hi @Ein-Tim

thank you for this issue. I will create an internal ticket that this get tracked.

Regards,
Fatih

[2022-03-21 08:25] Kurt57 commented on #170
Hi @Ein-Tim

thank you for this issue. I will create an internal ticket that this get tracked.
I think we will handle both: this ticket and #172  together.

Regards,
Fatih

[2022-03-21 08:27] Kurt57 commented on #171
Hi @Ein-Tim,

thank you for your message.
First of all which sort do you mean. In the Detail page of a Person in the bottom?

Regards,
Fatih

[2022-03-21 08:30] Ein-Tim commented on #171
@Kurt57

Hi Faith,
no I mean the order in which persons are listed when opening the app.
I thought they are sorted by alpahbetical order, however, I now see that this is not always the case.

[2022-03-21 08:35] Kurt57 commented on #169
Hi @Ein-Tim ,

We display the information from the prioritize certificate on the home page and the detail page of a person.

If this certificate has a middle name it will be displayed. I think the problem, if you can call it a problem, is during the creation of a certificate that sometimes the middle name is used and sometimes not.

Also within a person this "phenomenon" can occur with the same pe

[2022-03-21 08:56] Kurt57 commented on #171
There is no explicit sorting logic, only if available, the favorite is displayed at the beginning. Implicitly, it could be that the person's certificates are displayed further up.

[2022-03-21 09:07] Kurt57 commented on #159
Hi @Ein-Tim

i have created a ticket for this in our internal tracking system.

Thank you a lot for this enhancement.

Regards,
Fatih

[2022-03-21 09:11] Kurt57 commented on #156
Hi @Ein-Tim

i have created a ticket in our internal tracking system.

Thank you.

Regards,
Fatih

[2022-03-21 09:27] Kurt57 commented on #155
Hi @Ein-Tim

i have created a ticket in our internal tracking system.

Thank you!

Regards,
Fatih

[2022-03-21 09:28] Kurt57 commented on #152
@timokoenig can be closed?

[2022-03-21 09:30] Kurt57 commented on #151
Hi @timokoenig

will be updated soon. At least created ticket that it will be tracked.

Thank you!

Regards,
Fatih

[2022-03-21 09:31] Kurt57 commented on #146
@timokoenig can be closed?

[2022-03-21 09:31] Kurt57 commented on #145
@timokoenig can be closed?

[2022-03-21 09:43] Ein-Tim commented on #171
So the app just shows the people in a random order?

[2022-03-21 10:28] timokoenig commented on #146
Cert Detail for the Rule Check still shows the "Entry Rules" text

[2022-03-21 10:29] timokoenig commented on #145
It's not fixed yet

[2022-03-21 10:31] timokoenig commented on #152
your call, since this won't get fixed

[2022-03-21 11:18] #152 closed

[2022-03-21 11:20] Kurt57 commented on #146
ok lets keep this open for that also

[2022-03-21 11:20] Kurt57 commented on #171
Yes

[2022-03-21 11:28] timokoenig commented on #171
So why not set a fixed order? eg. alphabetical

[2022-03-21 17:28] svendr commented on #91
Hey @timokoenig & @jleufgen, thanks for confirming this issue. I'd appreciate a fix, too. There seems to be no solution, yet. When is a fix going to be available?

[2022-03-21 17:37] timokoenig commented on #91
@svendr I'm just a community member, but maybe @Kurt57 knows more about the fix.

[2022-03-21 17:46] pucherd commented on #160
Hi @timokoenig, looks like Austria is the only country which is filling the "region" property with country code "AT" (all other countries are having null).
And the certLogic is doing some additional check for the region:
https://github.com/eu-digital-green-certificates/dgc-certlogic-android/blob/93a32104fb084af22b9c6b50aea9ff245d8bd039/engine/src/main/java/dgca/verifier/app/engine/domain/rules/Def

[2022-03-21 18:21] Kurt57 commented on #171
You can convert your question into a enhancement @Ein-Tim

[2022-03-22 14:43] Kurt57 commented on #66
@crownedsimon did you test our new warning when adding certificates of several persons?

Can we closes this issue?

[2022-03-22 14:47] Kurt57 commented on #77
@Gurumosch is this problem still alive or can we close this issue?

[2022-03-22 14:48] Kurt57 commented on #78
@sourcloud is this problem still present or can we close this ticket?

[2022-03-22 14:50] timokoenig commented on #66
Just my opinion but I don't think the "warning" is a good implementation. You get this info only twice and for all other certificates / persons can be added without it.

[2022-03-22 14:53] Ein-Tim commented on #71
The screen is not shown always but only if there are already 10 persons registered in the app.

[2022-03-22 14:55] timokoenig commented on #71
Yep, not a good implementation. This should be shown for every new person that is being added to the app.

[2022-03-22 14:58] Kurt57 commented on #104
Hi @Ron-70 i have created an internal ticket to solve this problem. But can you even reproduce this issue?

[2022-03-22 15:01] timokoenig commented on #103
Did anyone from the team checked it on a iPhone 6 with accessibility option Large Text all the way to the max? I can reproduce similar issues with the iPhone 11 Pro Max, then I would guess this is the exact setting for that image above on a smaller device.

[2022-03-22 15:04] Kurt57 commented on #112
HI @timokoenig  its fixed and will be published with the new version.

[2022-03-22 15:06] Kurt57 commented on #113
Hi @timokoenig isn´t the scroll indicator itself is an indicator for iOS users that they can scroll?

[2022-03-22 15:07] Kurt57 commented on #114
@mxdalchau hi,

is this problem still present ?

[2022-03-22 15:14] Kurt57 commented on #66
On the one hand you are absolutely right, on the other hand this warning should not disturb the user when using the app. I think the UX designers are trying to find the best solution for all the millions of users. A compromise.

[2022-03-22 15:16] Kurt57 commented on #89
As you already figured out its nothing special for the App. Seems likely an issue of the certificate.

[2022-03-22 15:17] timokoenig commented on #66
I completely disagree that this disturbs the user when using the app. How often does the average user adds a new person? Even if this is a father that add three of his kids then he will get it three times and never again. On the other hand if a person at the restaurant scans a new person he will get it only twice which does not make sense at all.

[2022-03-22 15:21] timokoenig commented on #89
That is correct but has the team done anything to mitigate the issue? e.g. talk to the people that build the web frontend? Doing nothing is not the right thing when you actually care about building a great product.

[2022-03-22 15:22] Kurt57 commented on #103
Yes, and cannot reproduce this. (iPhone SE)

[2022-03-22 15:23] Kurt57 commented on #66
Thank you for your opinion.

[2022-03-22 15:27] Kurt57 commented on #89
If you're thinking of the overall project, you're absolutely right. But this is the iOS App Repository and its context. I just find it more efficient to properly address the issues. I'll take the issue with me anyway.

[2022-03-22 15:35] Ein-Tim commented on #71
I also don't hate how CovPass handles it but when it comes to misuse prevention (which is what we are discussing here), I definitely think CWAs solution is more effective.

[2022-03-22 15:37] timokoenig commented on #89
Well then moving the ticket in the right repository and talking to the right people would be a better option than closing a ticket

[2022-03-23 07:10] CodeAvolition commented on #89
i agree with the statements made that it would be beneficial to get this issue to the people able to do sth. about it, but i dont know the proper channels to do that. if this is not the right place for the issue than sure close it as you see fit.

[2022-03-24 08:35] Ein-Tim commented on #171
@Kurt57

I'll do this at a later point of time. Thanks for answering!

[2022-03-24 08:35] #171 closed

[2022-03-30 15:30] Kurt57 commented on #164
@timokoenig can you confirm the fix? See the reference

[2022-03-30 15:34] Kurt57 commented on #136
@timokoenig this is solved?

[2022-03-30 15:41] Kurt57 commented on #112
@timokoenig should be solved with 41c9734d5e3784c5b388b234df7c42e8aa2a7f20

[2022-03-30 15:43] Kurt57 commented on #99
@timokoenig should be solved with 088ba09ee257f8eb5ccbf040c74282578010dd88

[2022-03-30 18:22] #99 closed

[2022-03-30 18:22] #109 closed

[2022-03-30 18:23] #112 closed

[2022-03-30 18:23] #136 closed

[2022-03-30 18:24] #145 closed

[2022-03-30 18:25] #164 closed

[2022-04-17 06:37] Ein-Tim opened #178 "1.22 Source Code is missing"
The 1.22 source code is missing. Please make the code public.

[2022-04-18 11:26] Ein-Tim commented on #146
@timokoenig Maybe I'm missing something but I don't see this problem anymore, do you?

[2022-04-18 11:27] Ein-Tim commented on #97
The problem that the validity of recovery certificates is not very well communicated should be handled in a new issue. Closing this one now.

[2022-04-18 11:27] #97 closed

[2022-04-18 11:28] timokoenig commented on #146
@Ein-Tim if you go on "Check Validity" and then click on your certificate, you will see the text "Entry Rules" together with the country

[2022-04-18 11:30] Ein-Tim commented on #146
Ah yes,  I missed that, sorry.

[2022-04-18 11:31] Ein-Tim commented on #58
@jleufgen If there is no feedback from @michael-koeller, I suggest to close this issue, especially because you said you weren't able to reproduce this issue.

[2022-04-18 11:36] Ein-Tim commented on #74
@jlsiewert Has this issue meanwhile been fixed?

[2022-04-18 11:45] Ein-Tim opened #179 "Rename "Check validity" button to "Check Validity for Travel" (Align to CWA)"
### This issue affects both, iOS AND Android.

## Avoid duplicates
* [X] This enhancement request has not already been raised before

## Current Implementation
The button in the top left corner of the CovPass app reads "Check validity"

## Suggested Enhancement
Rename the button to "Check Validity for Travel", that's the wording CWA uses.

## Expected Benefits
This changes makes it clearer that cl

[2022-04-18 11:48] Ein-Tim opened #180 "Replace "Maximum valid until dd.mm.yyyy" on recovery certificates with "Positive test from dd.mm.yyyy" and do not show how long a recovery certificate is valid (Align to CWA)"
### This issue affects both, iOS AND Android.

## Avoid duplicates
* [X] This enhancement request has not already been raised before

## Current Implementation
CovPass shows a recovery certificate together with the information how long the recovery certificate is valid at maximum.

## Suggested Enhancement
Do not show how long a recovery certificate is valid but only show the date of the positive

[2022-04-18 11:51] Ein-Tim commented on #143
This issue is technically solved because CovPass "Maximum valid until dd.mm.yyyy". I suggested to change the wording via https://github.com/Digitaler-Impfnachweis/covpass-ios/issues/180.

[2022-04-18 13:11] Ein-Tim commented on #131
Will someone address this issue anytime soon? Is the RKI ok with its apps being out of touch with reality?

[2022-04-18 13:31] jlsiewert commented on #74
No, the issue is still unresolved as of 1.22

[2022-04-19 06:35] Kurt57 commented on #178
Hi @Ein-Tim

it´s released now.

Thank you.

[2022-04-19 06:36] Kurt57 commented on #58
@Ein-Tim thanks for your feedback. I also see like that and close this issue.

[2022-04-19 06:36] #58 closed

[2022-04-19 06:36] Ein-Tim commented on #178
Thanks!

[2022-04-19 06:36] #178 closed

[2022-04-19 06:41] Kurt57 commented on #179
Hi @Ein-Tim ,

thank you for this enhancement. I have created a internal ticket to track this.

Regards,
Fatih

[2022-04-19 06:49] Kurt57 commented on #180
@Ein-Tim i have created a ticket for this, thank you.

[2022-04-19 12:37] Ein-Tim commented on #129
@alexcimander Will you soon fix this issue? I'm already thinking about sending a Mail to the RKI informing them about this issue, maybe they can give you a push to update the rules. Or is the RKI the show stopper here who doesn't want the app to apply with their own rules? I can't imagine this.

[2022-04-25 14:43] Ein-Tim opened #181 "Release 1.22.1"
Please release the source code of version 1.22.1 and tag a new release. Thanks.

[2022-04-26 11:40] Ron-70 commented on #104
I just updated to CovPass App version 1.22.1 and it's still the same issue. For all of my 3 available certificates the generated pdfs contain no QR-Code. (iPhone 6 / iOS 12.5)

[2022-04-26 11:43] Ron-70 commented on #103
I just updated to CovPass App version 1.22.1 and it's still the same issue (iPhone 6 / iOS 12.5).

[2022-04-26 12:34] Kurt57 commented on #181
Hey @Ein-Tim

its released: https://github.com/Digitaler-Impfnachweis/covpass-ios/releases/tag/v1.22.1.1

[2022-04-26 12:48] timokoenig commented on #181
What's the difference between release 1.22.1 and 1.22.1.1?

[2022-04-26 12:53] #181 closed

[2022-04-26 16:36] Kurt57 commented on #181
1.22.1.1 points to same commit, so deleted.

[2022-04-27 08:15] Ron-70 commented on #103
By the way, the accessibility option "Large Text" is switched off on my iPhone where the wrong behaviour occurs.
![image2](https://user-images.githubusercontent.com/52568084/165473093-770b9120-18b4-43c5-baf5-17f905b59d61.png)

[2022-04-28 00:10] Kurt57 commented on #103
Ok this is default setting and tested with this, even not reproducible.

Do you have some custom settings in Font sizes or something similar ? @Ron-70

[2022-04-28 17:49] Ron-70 commented on #103
I have no custom font size settings or similar. The problem is for me always reproducable on iPhone 6 running on iOS 12.5. See attached screen recording.

https://user-images.githubusercontent.com/52568084/165815743-643ff7c6-55a4-40d7-bb91-09c73f624895.MOV

[2022-05-04 10:50] alexcimander commented on #169
Hi Tim,

we discussed the issue and the app will show the full name if typed in correctly by the issuers. A name that it put together by the information stored in all present certificates adds massive complexity which should be avoided. Therefore we suggest to cancel the issue, would you agree on that?

Best Regards,

Alex

[2022-05-04 20:06] Ein-Tim commented on #169
@alexcimander

Okay, understood, sounds good.

[2022-05-04 20:06] #169 closed

[2022-05-17 18:07] Ein-Tim commented on #129
I can't believe that the RKI really is fine with this. I will write them a Mail now.

[2022-05-17 18:09] Ein-Tim opened #184 ""Check validity" feature does not consider all cases and leaves users with open questions"
### This issue affects both, iOS AND Android.

## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: Not relevant
- OS version: Not relevant
- App version: Not relevant

## Describe the bug

I had a [conversation](https://twitter.com/EinTim2/status/152660127160

[2022-05-17 18:16] Ein-Tim opened #185 "1.23 Source Code is missing"
The 1.23 source code is missing. Please make the code public & create a new release.

[2022-05-17 18:21] timokoenig commented on #184
@Ein-Tim as far as I remember the business logic that checks the entry rules can not handle certificate combinations. It will show you the first certificate that is valid to enter the selected country. In the case you described it won't show any certificates. Therefore I do agree with you that the business logic should be adjusted to match those cases as well.

IMO this won't happen in the near fu

[2022-05-17 19:55] Ein-Tim commented on #184
@timokoenig Thanks for your response! Actually, I remember something similar. I think @vaubaehn somewhere asked for this already, but I can't find the issue currently. Maybe Volker would quickly cross link this here! That would be wonderful!

[2022-05-19 14:29] Kurt57 commented on #185
Hi @Ein-Tim

sorry for being late. Find here the release https://github.com/Digitaler-Impfnachweis/covpass-ios/releases/tag/v1.23.0

[2022-05-19 15:25] timokoenig commented on #158
I'm not able to check. If you say it's solved, then just close it.

[2022-05-19 16:20] Kurt57 commented on #158
Thanks.

[2022-05-19 16:20] #158 closed

[2022-05-19 19:58] #185 closed

[2022-05-20 08:56] alexcimander commented on #184
Hey everyone,

the combination of recoveries older than 90 days with basic immunisations will be part of 1.25 which will enter the review today.

As @timokoenig stated it always comes back to the issue that the rule-engine used by all participating verifier and wallet apps within the EU (+ other members) is **not able to check within a context**.

A DCC like the recovery DCC was declared as valid

[2022-05-20 11:39] Ein-Tim commented on #129
The RKI writes:

"Die Vorgabe, dass ein PCR-Test in der Corona-Warn-App für 72 Stunden als gültig angezeigt wird, stammt vom Bundesministerium für Gesundheit. Falls Sie dies näher hinterfragen möchten, müsste ich Sie bitten, sich zur Klärung dorthin zu wenden."

So, let's send a mail to the BMG.

[2022-05-23 10:55] markusgallmetzer commented on #127
Hi,

is this bug fixed?

I am not sure whether my issue  is related (iOS 15.5, Covpass 1.23) to this issue but it seams that at least the symptoms are the same and I do not want to create a new issue.

I am trying to add the certificate of my child after adding my own certificate. Adding the first certificate always succeeds and after that, adding the second certificate freezes the application to

[2022-05-23 13:22] alexcimander commented on #163
Hi @timokoenig,

seems like this CPU-spike was linked to https://github.com/Digitaler-Impfnachweis/covpass-ios/issues/164#issue-1167719364.

We are currently not seeing spikes, can you confirm this?

Best regards,

Alex

[2022-05-24 16:23] Ein-Tim opened #187 "CovPass shows "Grundimmunisierung vor xx" even though there is one 2/2 vaccination & one recovery certificate in the app"
### This issue affects both, iOS & Android

## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
- OS version: 15.5
- App version: 1.25

## Describe the bug

The CovPass-App shows "Grundimmunisierung vor 8 Monaten" (in my case) although I have the fo

[2022-05-24 16:25] Ein-Tim opened #188 "Integrate CCL"
### This issue affects both, iOS AND Android.

## Avoid duplicates
* [X] This enhancement request has not already been raised before

## Current Implementation
CovPass does not use CCL to determinate status of certificates.

## Suggested Enhancement
Use the Common Covid Logic the CWA-Team has provided to determine a certificates status and reissue certificates.

## Expected Benefits
Consistent sta

[2022-05-30 08:01] alexcimander commented on #187
Good Morning Tim,

the wording only reflects the status of the DCC on the startpage - it does not represent a combined status of all your stored DCCs. Your 2/2 for now still reflects your basic immunization, even though you will need even more "proofs" for 2G+.

We are aware that one DCC on startscreen level isn't always enough to enter a venue. This is why the upcoming release will be a new "moda

[2022-05-30 08:16] Ein-Tim commented on #187
Hey @alexcimander,

thanks for your answer! I guess this certificate switcher will also improve the wording, as one certificate will then say "Impfung" & the other one "Genesung".

[2022-06-02 05:36] Ein-Tim commented on #188
Will someone at least give me some feedback on this issue, e.g. that you've seen it? (-:

[2022-06-02 11:01] alexcimander commented on #187
Hey @Ein-Tim ,

based on the DCC-Type you will find:

Vaccination:
1/2, 1/1: "Vaccination 1 out of 2" / "Vaccination 1 out of 1"*
2/2, 2/1 (if 1/1 JJ): "Basic Immunization"*
2/1 (if no 1/1 JJ), 3/3 etc.: "Booster Vaccination"*
2/1 (if 1/1 JJ and Recovery (oldest DCC)): "Booster Vaccination"*

*Due to the new regulations for JJ vaccinations we adapted the value for Vaccinations based on a 1/1 JJ. T

[2022-06-02 20:00] Ein-Tim commented on #187
Hey @alexcimander,

thank you very much for the explanation! This sounds like a good solution, but I have to look at it myself (:

Thanks!

[2022-06-03 10:46] alexcimander commented on #188
Hey @Ein-Tim,

seen it! Sorry for the late reply.

We are currently preparing ourselves for potential new Covid-waves that might come with new regulations, admission concepts, rules etc. Saying that we are currently investigating on feasable solutions that are "easier" to adapt to frequently changing requirements. CCL is one of the frameworks which is part of the discussion since it is a charming

[2022-06-03 10:57] Ein-Tim commented on #188
Thanks!

[2022-06-05 13:51] Ein-Tim opened #190 "Wrong entry rules for Germany"
### This issue affects both, iOS AND Android.

## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: Irrelevant
- OS version: Irrelevant
- App version: Irrelevant

## Describe the bug

Currently, according to [Informationen zu Einreise­beschränkungen: Das gilt

[2022-06-05 16:12] Ein-Tim commented on #140
Will someone eventually come back to this issue, after more than 3 moths?

[2022-06-05 16:17] Ein-Tim commented on #168
@Kurt57 This issue persists. Will it be fixed soon?

[2022-06-05 16:21] Ein-Tim commented on #76
This issue has become stale and obsolete. Thus closing.

[2022-06-05 16:21] #76 closed

[2022-06-05 16:21] Ein-Tim commented on #159
@Kurt57 Has the text been adjusted in the meantime?

[2022-06-05 16:28] Ein-Tim commented on #179
As CovPass also offers to check the rules for Germany, the button name is fine. Closing.

[2022-06-05 16:28] #179 closed

[2022-06-07 10:28] Ein-Tim commented on #190
Thank you @kerstin-oppermann-tsi!

[2022-06-08 10:52] Ein-Tim commented on #133
This has been implemented with version 1.26.

[2022-06-08 10:52] #133 closed

[2022-06-08 11:03] Ein-Tim opened #192 "Misleading text on "Erneuerung notwendig" screen"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
- OS version: 15.5
- App version: 1.26

## Describe the bug

<img src="https://user-images.githubusercontent.com/67682506/172600582-8f32d331-ce0a-43c3-94da-b66b1fa5e23d.jpeg" width="300">

On the "

[2022-06-08 11:05] Ein-Tim opened #193 "1.26 source code is missing"
As always, the 1.26 source code is missing. Please make the code public (& create a new release).

[2022-06-08 11:26] Ein-Tim commented on #187
This has been improved with version 1.26. I consider this as fixed. Closing.

[2022-06-08 11:26] #187 closed

[2022-06-08 16:00] burnziii opened #194 "Unable to renew certificate within 1.26"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 13 Pro
- OS version: iOS 16.0 (20A5283p)
- App version: 1.26

## Describe the bug

When checking my certificate 1/3 it is shown that it will expire soon and that it can be renewed within the certifica

[2022-06-08 16:04] timokoenig commented on #194
@burnziii we just had a similar discussion in the Android repository. The button will only appear for your last certificate that is about to expire. The UI is not very clear for this feature

[2022-06-08 16:05] burnziii commented on #194
So I only have the option to renewe the certificate if the last valid one expired?

[2022-06-08 16:09] timokoenig commented on #194
In general you don't really need the other certificates to renew. In case of travel or other entry checks the latest full vaccination / booster certificate is enough.

I heard about a workaround that seems to work for Android where you delete the newer certificates and with only the expiring certificate you should be able to renew it, but I couldn't confirm it.

[2022-06-08 16:11] Ein-Tim commented on #194
@burnziii Could you maybe share a screenshot with us how the screen where it says your certificate is (about to) expire(d) looks? Black out QR-Code and other personal details, please!

---

On topic, I suggest you take a look at [CWA 2.23: Extension of technically expired certificates in the CWA](https://www.coronawarn.app/en/blog/2022-06-01-cwa-2-23/) which says:

"**Recovery certificates** can a

[2022-06-08 16:21] burnziii commented on #194
Here are the screens from the overview and the detail of the certificate.

![image](https://user-images.githubusercontent.com/16451502/172667405-08c824c9-087c-44df-9738-ebd752d70792.jpeg)
![image](https://user-images.githubusercontent.com/16451502/172667428-3213fddc-a768-4a31-a21e-6cdd5ee81f09.png)

[2022-06-08 16:23] timokoenig commented on #194
Similar to my certificates. I can confirm this behavior

[2022-06-08 16:24] Ein-Tim commented on #194
Okay, thanks! So the problem really is that the note that the certificate expires soon does not include any hint that the renewal function is not available for certificates which are not currently used. This is really really bad UI. CWAs text at least says that if the certificate is not the currently used certificate, there is nothing you need to do. CovPass is really bad here.

This should be fix

[2022-06-08 16:28] burnziii commented on #194
If this soon expiring certificate is not needed to be renewed then there should be a check within the app that checks if there are other newer certificates which lead to no need to renew this certificate. Something like "Zertifikat läuft bald ab, erneuerung nicht notwendig" would maybe help or a message in the detail view that it will expire but renew is not needed would help.

I think right now i

[2022-06-08 16:32] Ein-Tim commented on #194
100% agreed. The UI needs improvement.

Because it is not necessary. In your case for example the 3/3 certificate holds all information.

[2022-06-09 10:58] alexcimander commented on #192
Hey everyone! Update: We are currently working on a HF 1.26.1 which will take care of:

**1.) Wrong reason for Re-Issue mentioned (Android only)**
https://github.com/Digitaler-Impfnachweis/covpass-android/issues/211
https://github.com/Digitaler-Impfnachweis/covpass-android/issues/210

**2.) Misleading Text for (about to be expired) DCCs in DCC-Details**
https://github.com/Digitaler-Impfnachweis/co

[2022-06-09 10:58] alexcimander commented on #194
Hey everyone! Update: We are currently working on a HF 1.26.1 which will take care of:

**1.) Wrong reason for Re-Issue mentioned (Android only)**
https://github.com/Digitaler-Impfnachweis/covpass-android/issues/211
https://github.com/Digitaler-Impfnachweis/covpass-android/issues/210

**2.) Misleading Text for (about to be expired) DCCs in DCC-Details**
https://github.com/Digitaler-Impfnachweis/co

[2022-06-13 03:44] mirabilos commented on #194
The workaround to temporarily remove the 3/3 cert to renew the 1/2 and 2/2 ones works-ish: the button does show up, *both* certificates are listed to be transmitted… and only the 2/2 cert is renewed, not the 1/2 one.

Einmal mit Profis arbeiten…

[2022-06-13 04:16] Ein-Tim commented on #194
@mirabilos

Why would you like to renew the 1/2 certificate? Is it not valid anyways.

[2022-06-14 00:21] Kurt57 commented on #168
Hi @Ein-Tim not yet but hopefully soon. We are working hard on some new features. Afterwards hopefully the bug will find its way to one of the next sprints.

[2022-06-14 00:21] Kurt57 commented on #159
Hi @Ein-Tim not yet but hopefully soon. We are working hard on some new features. Afterwards hopefully the bug will find its way to one of the next sprints.

[2022-06-14 18:38] Ein-Tim commented on #194
@burnziii

Could you re-check if the UI has improved with version 1.26.1?

[2022-06-14 18:38] Ein-Tim commented on #192
Fixed in 1.26.1.

[2022-06-14 18:38] #192 closed

[2022-06-14 18:38] burnziii commented on #194
Yes, big improvement..

[2022-06-14 18:45] Ein-Tim commented on #194
@burnziii

Okay, so if you consider this as fixed, please close the issue. (:

[2022-06-14 18:46] timokoenig commented on #194
Text still indicates that the certificate can be renewed but it can't because there are newer certificates. I would suggest to leave this open

[2022-06-14 19:54] timokoenig commented on #194
I somehow had an old app state. Everything is fine now.

[2022-06-14 19:57] timokoenig opened #196 "Wrong wording on Renewal dialog"
## Describe the bug

On the renewal dialog it says

`You can trigger the renewal also later in the detail view of your certificates.`

This should be

`You can trigger the renewal also later on the overview of your certificates.`

[2022-06-15 09:43] #138 closed

[2022-06-15 09:45] Kurt57 commented on #153
Hey @timokoenig  should be resolved. Can you confirm and close?

[2022-06-15 09:46] Kurt57 commented on #167
Hey @timokoenig. Should be resolved, can you confirm and close.

[2022-06-15 09:47] #153 closed

[2022-06-15 09:50] timokoenig commented on #167
I can't because of https://github.com/Digitaler-Impfnachweis/covpass-ios/issues/193

[2022-06-15 15:34] Ein-Tim commented on #193
Fixed with https://github.com/Digitaler-Impfnachweis/covpass-ios/releases/tag/v1.26.1.

[2022-06-15 15:34] Kurt57 commented on #167
Hi @timokoenig its now released. Can you please check and close if solved?

[2022-06-15 15:34] #193 closed

[2022-06-15 16:22] #167 closed

[2022-06-21 16:00] Ein-Tim opened #198 "1.27 Source code"
- https://github.com/Digitaler-Impfnachweis/covpass-ios/discussions/197 announced the release of version 1.27. Please make the Source Code public.

[2022-06-21 16:04] Ein-Tim opened #199 "Always publish source code when announcing a new release"
### This issue affects both iOS AND Android.

## Avoid duplicates
* [X] This enhancement request has not already been raised before

## Current Implementation
Currently, someone from the CovPass-Team announces a release via [GitHubs Discussions](https://github.com/Digitaler-Impfnachweis/covpass-ios/discussions) feature & no source code or GitHub release is created.

## Suggested Enhancement
Please

[2022-06-22 09:35] Ein-Tim commented on #198
Fixed with https://github.com/Digitaler-Impfnachweis/covpass-ios/releases/tag/v1.27.0

[2022-06-22 11:52] MoritzIBM commented on #199
Hi @Ein-Tim,
Thanks and good point! We are working on it and will improve the process for release 1.29.
Have a nice day and best regards!
Moritz

[2022-06-25 10:20] Ein-Tim opened #200 "Twitter Report: CovPass wrongly shows "Grundimmunisierung" instead of "Vollständig Geimpft""
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: Not relevant
- OS version: Not relevant
- App version: 1.27

## Describe the bug

A user on Twitter contacted me via DM and reported the following:

CovPass shows "Grundimmunisierung" although I have the fol

[2022-06-25 12:51] MoritzIBM commented on #200
Hi @Ein-Tim,

Thanks! We are aware of that and have fixed it for the next release 1.28. Indeed, the app shows "Grundimmunisierung" on the certificate owners' detail screen, although the person has, for example, a booster (as it is indicated correctly on the other screens).

Best regards,
Moritz

[2022-07-02 13:43] Ein-Tim commented on #190
@kerstin-oppermann-tsi

Hey Kerstin,

what was the result from the discussion with the BMG?

[2022-07-05 09:03] kerstin-oppermann-tsi commented on #190
Hi @Ein-Tim as you can see [entry/business rules](https://timokoenig.github.io/eu-dcc-rules/?ruleset=eu-dcc-rules&country=DE) the new general rule is uploaded now and the old ones are deleted. The discussion and decision took a while ;) so your question was on time ;)

[2022-07-05 10:03] #190 closed

[2022-07-10 14:11] Ein-Tim opened #201 "Make clear statement whether certificate needs to be renewed or not"
### This issue applies to both, iOS AND Android!

## Avoid duplicates
* [X] This enhancement request has not already been raised before

## Current Implementation
Currently, the app always shows the following text if a certificate is about to expire or has already expired:

## Suggested Enhancement

Make a clear statement whether this specific certificate needs to be renewed or not.

Examples for

[2022-07-11 15:39] Ein-Tim opened #202 "Remove the "Valid from dd.mm.yyyy" from not yet valid certificates of recovery"
### This issue applies to both, iOS AND Android!

## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: Not releavnt
- OS version: Not relevant
- App version: Not relevant

## Describe the bug

CovPass currently displays "Valid from dd.mm.yyyy" if a certificate

[2022-07-12 18:31] Ein-Tim opened #203 "All process in the app are incredible slow"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone 6s
- OS version: 15.5
- App version: 1.27

## Describe the bug

I was playing around with the app a bit, renewing some certificates, deleting old ones, importing certificates, creating printouts, etc.

[2022-07-19 08:07] timokoenig commented on #202
@Ein-Tim in the beginning when we implemented it the effective validity of recovery certificates were relatively similar in all member countries. This definitely changed over time and now varies between some countries. In my opinion a valid from date is always important to show otherwise you won't know when you can use your certificate. However since Germany removed all entry restrictions, such a

[2022-07-19 08:32] Ein-Tim commented on #202
@timokoenig Thanks for sharing your thoughts! Lets see what the team thinks.

[2022-07-20 17:14] Ein-Tim opened #204 "Do not show "Letzte Impfung vor 0 Tage(n)" but "Letzte Impfung heute""
## Avoid duplicates
* [X] This enhancement request has not already been raised before

## Current Implementation
The app shows "Letzte Impfung vor 0 Tage(n)" if one scans a vaccination certificate the day they got vaccinated.

## Suggested Enhancement
The app should say "Letzte Impfung heute".

## Expected Benefits
Clearer communication, see also #

[2022-07-24 13:45] weinzierl-florian commented on #127
I’m not sure whether there were some fixes, but as of my recent test (iOS 15.5 CovPass 1.27) adding the second certificate worked fine.

But the problem you described sounds in fact quite similar to mine.

[2022-07-25 08:56] markusgallmetzer commented on #127
Hi,

thanks for trying it out again. I tried it out as well (iOS 15.5, Compass 1.27 (1)) with a similar result regarding the certificates: the second one fails to be added. Always.

But it does not freeze the application anymore...

[2022-07-25 12:17] Ein-Tim commented on #127
@Kurt57 or @alexcimander

Could you update us on this issue?

[2022-07-25 14:47] markusgallmetzer commented on #127
Out of curiosity I looked into the device logs. "CovPassApp" did not freeze but apparently the application crashes.

The Console is full of messages from the "CovPassApp" and needless to say I cannot spot anything obvious.

I must confess I hoped for a stack trace starting with a message similar to "Failed to add certificate" 😀

I may provide logs...

[2022-07-25 16:50] Kurt57 commented on #202
Hi @Ein-Tim

thank you. I have crated an internal ticket.

Regards,
Fatih

[2022-07-25 16:58] Kurt57 commented on #204
Hi @Ein-Tim

thank you! I have created an internal ticket to track this.

Regards,
Fatih

[2022-07-25 17:03] Kurt57 commented on #127
Hi @markusgallmetzer

could you provide a video ?

Regards,
Fatih

[2022-07-25 17:12] Kurt57 commented on #104
Hi @Ron-70  we have fixed something else there, may be that also helps with your problem? Do you have any update for us?

[2022-07-25 17:15] Ein-Tim commented on #127
Please do not provide a video with the EU DCC QR code here on GitHub!

@Kurt57 If you want/need a video, I suggest to provide a Mail address where the video can be send to.

[2022-07-25 18:02] Ein-Tim commented on #200
That's fixed now.

[2022-07-25 18:02] #200 closed

[2022-07-25 18:03] Ein-Tim commented on #199
For iOS, that worked with 1.28. For Android, the source code isn't available yet.

[2022-07-26 08:14] Kurt57 commented on #127
@markusgallmetzer you can provide a censored video here if it was not clear 😀

If you prefer a Mail then mailto:support@covpass-app.de and set the hint that should be forwarded to development team.

[2022-07-26 10:30] markusgallmetzer commented on #127
@Kurt57 Sorry, I cannot do that. I will not send the video without being properly censored  and I am no video editor. I tried to use some iOS apps (e.g. Blur Video https://apps.apple.com/us/app/blur-video/id1555770514) for a while now but without any significant success.

I can provide logs though.

[2022-07-27 06:06] Kurt57 commented on #127
Please send logs. Let's see if there is something useful.

[2022-07-31 11:07] Ein-Tim opened #206 "Export all certificates feature"
### This issue applies to both, iOS & Android!

## Avoid duplicates
* [X] This enhancement request has not already been raised before

## Current Implementation
Currently it isn't possible to export all certificates stored in the CovPass app at one click.

## Suggested Enhancement
CWA gained a mass export feature in version 2.24 which allows the user to export all certificates into one PDF. CovPas

[2022-08-02 08:38] Ron-70 commented on #104
Hi @Kurt57,

I just installed the latest available version 1.28(2) and the generated pdf still doesn't contain the QR code.

[2022-08-17 11:55] Ein-Tim commented on #155
- Seems like this will soon be possible: https://github.com/Digitaler-Impfnachweis/covpass-apps-i18n/pull/236

[2022-08-23 16:18] jlsiewert commented on #74
The issue is still present in 1.29.1

[2022-09-03 11:27] Ein-Tim opened #209 "Missing 1.30 release"
Version 1.30 of both CovPass as well as CovPassCheck are in the AppStore, however, there is no GitHub release here and the source code is also not available. Please create a GitHub release and publish the source code.

[2022-09-03 11:30] Ein-Tim opened #210 "What is the "Behördenfunktion"?"
## Avoid duplicates
* [X] Question is not already answered in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Question has not already been asked in another issue

## Your Question
Version 1.30 of CovPassCheck added a "Behördenfunktion", however, there is no documentation at all available explaining how the feature works or what it does. Could you please elaborate on what this feature

[2022-09-06 11:06] Ein-Tim commented on #188
Hey @alexcimander, was there a decision made whether to integrate with CCL or not? To be honest, I don't really see any points which speak **against** using CCL, as this safes a lot of work for your team, or am I mistaken?

[2022-09-09 22:47] Ein-Tim opened #211 "Prepare for regulation/definition change: Fully vaccinated means 3x shots starting on 01.10.2022"
### This issue applies to both iOS & Android!

The BMG has published https://www.bundesgesundheitsministerium.de/service/gesetze-und-verordnungen/ifsg/faq-ifsg.html which states includes the following paragraph:

![189435156-9f00481f-d024-4a8c-b998-b483ab858001](https://user-images.githubusercontent.com/67682506/189455316-4a2e49a5-0cde-4587-9156-de7115349c79.png)

This is in line with the legal te

[2022-09-10 06:09] MikeMcC399 commented on #211
@Ein-Tim

You asked for some changes:

CovPass shows "Basic immunization" with a 2/2 certificate. This is correct.
CovPassCheck checks against 3G and 2G+ (see comments below).

This is a function of the booster rule texts. See also https://github.com/corona-warn-app/dcc-rule-translation/issues/10. To be consistent across CovPass and Corona-Warn-App if there is any change then it should be through

[2022-09-10 08:09] Ein-Tim commented on #211
Not after 01.10.22, right? After 01.10.22 a 2/2 is not valid at all any more, or have I misunderstood something?

Yes, agreed.

I don't feel qualified enough to asses this situation and thus leave it to the team on how to interpret the legal changes.

[2022-09-10 09:34] MikeMcC399 commented on #211
@Ein-Tim

I think this is still correct after Oct 1, 2022. I'll switch to German because the reference material is in German.

Mit einem 2/2-Impfzertifikat zeigt CovPass "Grundimmunisierung" auf der Hauptseite an und empfiehlt über DE-BNR-0110 eine "Auffrischimpfung".

Wenn ein 3/3-Impfzertifikat in CovPass eingescannt wurde, zeigt CovPass "Auffrischimpfung" auf der Hauptseite an.

Neuerdings wird

[2022-09-10 10:08] Ein-Tim commented on #211
@MikeMcC399

Danke für deinen ausführlichen Kommentar! Ich vermute, das Hauptproblem ist zwischen der fachlichen Gültigkeit (STIKO Empfehlungen) & der rechtlichen Gültigkeit (IFSG) zu unterscheiden und das dem Nutzenden klar zu kommunizieren.

IfSG § 22a beginnt wie folgt:

"(1) Ein Impfnachweis ist ein Nachweis hinsichtlich des Vorliegens eines vollständigen Impfschutzes gegen das Coronavirus SAR

[2022-09-10 10:53] MikeMcC399 commented on #211
@Ein-Tim

CovPassCheck sollte ein reines "2/2" Zertifikat nach dem 01.10.2022 auf jeden Fall immer ablehnen, denn es zertifiziert keinen vollständigen Impfschutz, eine Impfung fehlt.

Die App-Verantwortlichen müssen festlegen, was das Ziel der Anzeige ist und daher, was richtig ist. Ich kann nicht mehr dazu beitragen, als ich bereits geschrieben habe.

[2022-09-10 12:52] Ein-Tim commented on #209
Is anyone actually reading these issues or has this issue tracker been abandoned?

@wkornewald
@Kurt57
@tkul

[2022-09-12 11:16] Ein-Tim commented on #209
https://github.com/Digitaler-Impfnachweis/covpass-ios/releases/tag/v1.30.0

[2022-09-12 11:16] #209 closed

[2022-09-12 17:12] MikeMcC399 commented on #211
According to https://github.com/corona-warn-app/cwa-app-ccl/pull/105 the upcoming CWA 2.27 release will remove the 2G/3G status display. I wonder what the plans for CovPassCheck are?

[2022-09-12 17:59] Ein-Tim commented on #211
@MikeMcC399 Maybe you want to open a new issue reg this? I'm also interested in the answer to this question!

[2022-09-12 18:09] MikeMcC399 commented on #211
@Ein-Tim

Perhaps somebody from the development team will respond here?

[2022-09-12 18:10] Ein-Tim commented on #211
@MikeMcC399

That would be good in any case!

[2022-09-15 06:51] alexcimander commented on #211
Hello everyone,

we are working on an implementation to show new mask regulations and the new vaccination status. We will gradually expand the apps in releases 1.32 to 1.34.

We will initially include the new display of mask regulations and vaccination status in CovPass. As it is currently not clear  to what extent federal states will introduce mask regulations beginning in october we will prepare

[2022-09-15 06:54] alexcimander commented on #210
Hi @Ein-Tim,

Die Behördenfunktion richtet sich ausschließlich an die Gefahrenabwehrbehörden und ermöglicht diesen, im Missbrauchsfall eine Sperrung durch das Robert Koch-Institut (RKI) zu veranlassen.
Sperrung bedeutet, dass das betroffene Zertifikat in der Corona-Warn-App und der CovPass-App der jeweiligen Person als ungültig gekennzeichnet wird. Auch die CovPassCheck-App weist die gesperrten Ze

[2022-09-16 14:49] Ein-Tim commented on #155
This has been implemented.

[2022-09-16 14:49] #155 closed

[2022-09-16 14:50] Ein-Tim commented on #156
This has been implemented.

[2022-09-16 14:57] Ein-Tim opened #213 "Missing 1.30 source code branch"
There is no `release/1.30` branch in this repository (see https://github.com/Digitaler-Impfnachweis/covpass-ios/branches). Please create it with the 1.30 source code included.

[2022-09-16 14:59] Ein-Tim opened #214 "Missing 1.31 GitHub release & source code"
Version 1.31 of CovPass & CovPassCheck is in the App Store but here on GitHub I neither find the corresponding GitHub release nor the corresponding release branch.

[2022-09-16 15:22] tkul commented on #213
It was already tagged and released. But now I also pushed the branch.

[2022-09-16 15:22] #213 closed

[2022-09-22 21:10] Ein-Tim commented on #210
@alexcimander

Thanks for elaborating! Maybe it would make sense to publish some documents on this in the https://github.com/Digitaler-Impfnachweis/documentation repo, together with risk assessment, and so on?

Anyways, my question here has been answered.

[2022-09-22 21:10] #210 closed

[2022-09-28 13:14] Ein-Tim commented on #214
Here we go: https://github.com/Digitaler-Impfnachweis/covpass-ios/releases/tag/v1.31.0

[2022-09-28 13:14] #214 closed

[2022-10-01 08:25] Ein-Tim commented on #211
Implemented with 1.32

[2022-10-01 08:25] #211 closed

[2022-10-02 11:16] Ein-Tim opened #217 "Why is vaccination + recovery not 2G+?"
### This issue affects both iOS & Android!

## Avoid duplicates
* [X] Question is not already answered in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Question has not already been asked in another issue

## Your Question
Wehen I scan a vaccination certificate (vaccination on 17.09.2021) & a recovery certificate (positive test from 26.01.2022) CovPass says that the recovery certific

[2022-10-02 11:23] Ein-Tim opened #218 "CovPassCheck: "Zertifikat nicht gültig" screen leaves out important reasons why a certificate may be invalid"
### This issue affects both iOS & Android!

## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR / Huawei P Smart 2019
- OS version: 16.0.2 / 10
- App version: 1.32

## Describe the bug

Scanning a certificate of recovery, which certifies a recovery

[2022-10-02 12:58] Ein-Tim opened #219 "CovPassCheck: Result view is shortly shown before QR code scanner opens"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
- OS version: 16.0.2
- App version: 1.32

## Describe the bug

The result view is shortly shown before the QR code scanner opens in the 2G+ check option:

https://user-images.githubusercontent.com/

[2022-10-04 11:55] Kurt57 commented on #62
hi @benzman81 is this solved and we can close this?

[2022-10-04 12:42] benzman81 commented on #62
Jepp, looks good 👍

[2022-10-04 12:42] #62 closed

[2022-10-04 16:21] Ein-Tim opened #220 "App can't consider cases where no certificate of recovery can be issued because of the 180 days limit"
## Avoid duplicates
* [ ] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [ ] Bug is not already reported in another issue

## Technical details

- Device name:
- OS version:
- App version:

## Describe the bug

## Steps to reproduce the issue

## Expected behaviour

## Possible Fix

## Additional context

[2022-10-11 09:23] mirabilos commented on #194
Tim dixit:

***@***.***

To get rid of warning messages, of course. And it certainly is valid,
I hope, just not sufficient for current checks.

[2022-10-23 20:57] Ein-Tim commented on #206
Is someone still checking the CovPass issues?
This as well all other open issues I created in the past months didn't receive any feedback from the team at all.

[2022-10-26 13:31] timokoenig commented on #78
Every new app ships with an updated list of rules and DSCs that update shortly after the app opens. Since the original post author possibly had an outdated list, I will consider this as resolved.

[2022-10-26 13:31] #78 closed

[2022-10-26 13:52] timokoenig commented on #90
Closing; I changed the filename for version 1.35

[2022-10-26 13:52] #90 closed

[2022-10-26 13:55] timokoenig commented on #69
With the upcoming version 1.34 of CovPassCheck, the result screen has different colored icons. I would consider this ticket as resolved.

[2022-10-26 13:55] #69 closed

[2022-10-26 14:37] timokoenig commented on #110
closing; fixed for version 1.35

[2022-10-26 14:37] #110 closed

[2022-10-26 16:34] timokoenig commented on #196
Already fixed

[2022-10-26 16:34] #196 closed

[2022-10-26 16:37] timokoenig commented on #199
We adjusted the process so that the source code will be published shortly after the app gets released. Please keep in mind that this won't be within minutes of a new release due to the fact that the dev team needs to be informed about the release.

[2022-10-26 16:37] #199 closed

[2022-10-26 16:42] timokoenig commented on #161
Closing; already implemented with v1.34

[2022-10-26 17:38] Ein-Tim commented on #199
@timokoenig Okay, thanks!

[2022-10-26 19:16] timokoenig commented on #219
Thanks @Ein-Tim . I will look for a solution for the upcoming release 1.35

[2022-10-26 19:19] timokoenig commented on #157
I will check that this does not happen anymore with the upcoming releases.

[2022-10-26 19:19] #157 closed

[2022-10-26 19:20] timokoenig commented on #146
Seems to be fixed.

[2022-10-26 19:20] #146 closed

[2022-10-26 19:22] timokoenig commented on #131
I guess ignoring the issue made it go away because now the rules are gone 😄

[2022-10-26 19:22] #131 closed

[2022-10-26 19:26] timokoenig commented on #203
I noticed that as well and guess this has something to do with the additional checks we do if the certificate is still valid and so on. I will look into this issue on how we can improve it

[2022-10-26 19:30] timokoenig commented on #206
@Ein-Tim I haven't looked at the export feature of CWA yet but do they export all certificates of all people in one PDF or do they split it by person?

[2022-10-26 19:31] Ein-Tim commented on #206
@timokoenig Everything in one PDF.

[2022-10-27 09:59] timokoenig commented on #206
ok thanks, I will take this request to the team.

[2022-10-29 20:54] Ein-Tim opened #222 "Starring a certificate doesn't bring it to the first position in the app"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
- OS version: 16.1
- App version: 1.34

## Describe the bug

I have one certificate starred, however, this is not the certificate on the first position in the app.

## Steps to reproduce the issue

[2022-10-30 13:05] timokoenig commented on #222
@Ein-Tim thanks for reporting this bug. I will check it

[2022-10-30 13:12] Ein-Tim commented on #222
I can't reproduce this bug under Android.

[2022-10-30 13:14] timokoenig commented on #222
I can confirm it on iOS and will provide a fix for the next version

[2022-11-20 14:28] Ein-Tim opened #223 "App does not delete certificates, although I get the "Erfolgreich gelöscht" pop up"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://digitaler-impfnachweis-app.de/faq/)
* [X] Bug is not already reported in another issue

## Technical details

- Device name: iPhone XR
- OS version: 16.1.1
- App version: 1.34

## Describe the bug

I attempted to delete two certificates from the app and got the "Erfoglreich gelöscht" pop up. However, when I open the person detail

[2022-11-22 18:47] Ein-Tim commented on #222
Fixed in version 1.36.

[2022-11-24 12:32] Ein-Tim commented on #222
@Staeffy could you re-open this issue please?

[2022-11-24 16:42] Staeffy commented on #222
Thanks for your Feedback @Ein-Tim, we will have a look on that!